/*Configurações Gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: auto;
    color: #fff;
    overflow-x: hidden;
}

/*Aba Menu*/
.navbar {
    margin-left: 94%;
    margin-top: 30px;
}

.hamburger { 
    font-size: 45px;
    text-decoration: none;
    padding: 0;       
    margin: 0;       
}


/*Página Inicial*/
.principal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; 
    position: relative;
    overflow: hidden;
}

.luz {
    margin: 0;
    background: black;
    height: 100vh;

    position: relative;
    top: 30%;
    left: 450px;
    transform: translate(-50%, -50%);
    
    width: 400px;
    height: 400px;
    
    background: radial-gradient(circle, 
        rgba(255,255,255,0.8) 0%,
        rgba(255,255,255,0.6) 20%,          
        rgba(255,255,255,0.4) 40%, 
        rgba(255,255,255,0.1) 60%, 
        rgba(255,255,255,0) 80%
    );

    border-radius: 50%;
    pointer-events: none;
}

.glow-container {
    position: relative;
    left: -14%;
    z-index: 2; 
    text-align: center;
}

.principal h1 {
    font-family: 'Zen Dots', sans-serif;
    font-size: 64px;
    color: #002FBB;
    margin: 20px 0;
}

.principal h2 {
    font-family: 'Zen Dots', sans-serif;
    font-size: 64px;
    letter-spacing: 2px;
}

.btn-contato {
    display: inline-block;
    margin-top: 50px;
    background-color: #002FBB;
    color: white;
    padding: 12px 40px;
    text-decoration: none;
    font-family: 'Zen Dots', sans-serif;
    border-radius: 12px;
    font-size: 32px;
}


/*Página de Apresentação*/
.luz2 {
    margin: 0;
    background: black;
    height: 100vh;

    position: relative;
    top: 520px;
    left: -50px;
    transform: translate(-50%, -50%);
    
    width: 2600px;
    height: 2000px;
    
    background: radial-gradient(circle, 
        rgba(0,47,187, 0.8) 0%,
        rgba(0,47,187,0.6) 20%,          
        rgba(0,47,187,0.4) 40%, 
        rgba(0,47,187,0.1) 60%, 
        rgba(0,47,187,0) 80%
    );

    border-radius: 50%;
    pointer-events: none;
}

.quem-somos {
    position: relative;
    padding: 200px 8%;
    margin-top: -2170px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: #fff;
}

.intro-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: -200px;
}

.glow-text {
    font-size: 96px;
    color: #fff;
    font-family: 'Gugi', sans-serif;
    text-shadow: 0 0 0px #0044ff;
}

.intro-text p {
    color: #fff;
    font-size: 40px;
    font-family: 'Gugi', sans-serif;
}

.conteudo-sobre {
    align-self: flex-end;
    max-width: 600px;
    text-align: left;
    margin-top: 65px;
    margin-right: 20px;
    font-family: 'Gugi', sans-serif;
}

.conteudo-sobre h3 { 
    margin-bottom: 15px;
    font-size: 36px;
}

.conteudo-sobre p { 
    color: #fff; 
    line-height: 1.4; 
    font-size: 24px; 
}
    
.quem-somos img {
    width: 364px;
    height: 329px;
    margin-top: 40px;
    margin-left: 60px;
}


/*Página com os projetos*/
.luz3 {
    margin: 0;
    background: black;
    height: 100vh;

    position: relative;
    top: 450px;
    left: 750px;
    transform: translate(-50%, -50%);
    
    width: 650px;
    height: 650px;
    
    background: radial-gradient(circle, 
        rgba(255,255,255,0.8) 0%,
        rgba(255,255,255,0.6) 20%,          
        rgba(255,255,255,0.4) 40%, 
        rgba(255,255,255,0.1) 60%, 
        rgba(255,255,255,0) 80%
    );

    border-radius: 50%;
    pointer-events: none;
}

.projetos {
    padding: 100px 5%;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 200px;
}

.projetos h3 {
    font-size: 64px;
    margin-bottom: 40px;
    position: relative;
    font-family: 'Zen Dots', sans-serif;
    margin-top: -750px;
}



/*Página com as Avaliações dos Cliente*/
.clientes {
    padding: 80px 5%;
}

.clientes h3 {
    font-size: 50px;
    margin-bottom: 30px;
    font-family: 'Zen Dots', sans-serif;
}

.clientes-container {
    display: flex;
    gap: 50px;
    overflow-x: auto;
}

.card-depoimento {
    display: flex;
    min-width: 300px;
    background: #001042;
    padding: 30px;
    width: 450px;
    height: 405px;
    border-radius: 20px;
}

.card-depoimento p {
    font-family: 'Gugi', sans-serif;
    font-size: 26px;
    color: #fff;
    z-index: 2;
}


/*Formulário para Contato*/
.Formulario {
    max-width: 800px;
    margin: 180px auto; 
    padding: 20px;
    background-color: #002fbb86; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.Formulario h1 {
    font-family: 'Gugi', sans-serif;
    font-size: 34px; 
    background: linear-gradient(to right, #001042, #002FBB);               
    color: #fff;                            
    text-align: center;                  
    text-transform: uppercase;             
    letter-spacing: 3px;                 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 15px 0; 
}

.texto-centralizado {
    text-align: center;
}

.preencher_dados {
    background-color: #001042;
    color: white;
    font-family: 'Gugi', sans-serif;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 23px;
}

.preencher_dados:hover {
    background-color: #002FBB;
    transform: scale(1.05);
}

.preencher_dados:active {
    background-color: #0044ff;
}
        
.preencher_dados[type="reset"] {
    background-color: #f35f5f; 
}

.preencher_dados[type="reset"]:hover {
    background-color: #e20000;
}

.voltar_pagina_inicio {
    background-color: #001042;
    color: white;
    font-family: 'Gugi', sans-serif;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 5px;
}

.voltar_pagina_inicio:hover {
    background-color: #002FBB;
    transform: scale(1.05);
}

.voltar_pagina_inicio:active {
    background-color: #0044ff;
}
        
.voltar_pagina_inicio[type="reset"] {
    background-color: #f35f5f; 
}

.voltar_pagina_inicio[type="reset"]:hover {
    background-color: #e20000;
}

.tit-gradiente h2 {
    text-align: center;
    font-family: 'Zen Dots', sans-serif;
    color: #fff; 
    background: linear-gradient(to right, #001042, #002FBB); 
    font-size: 25px;
    font-weight: bold;
    padding: 15px; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0; 
}        

fieldset{
    border: 2px solid #3569be; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.forms{
    font-family: 'Gugi', sans-serif;
    color: white;
    padding-inline: 0;
}

input[type="text"], 
input[type="email"], 
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}


/*Rodapé*/
footer {
    display: flex;
    position: relative;
    top: 0px;
    margin-left: 200px;
}

.social-icons {
    display: flex; 
    align-items: center;  
    gap: 118px;     
}

.social-icons img {
    list-style: none;
    z-index: 2;
}

.luz_footer {
    margin: 0;
    background: black;
    height: 38vh;
    width: 100%;

    position: relative;
    top: -250px;
    
    background: linear-gradient(to top,
        rgba(0,47,187, 0.8) 0%,
        rgba(0,47,187,0.6) 10%,          
        rgba(0,47,187,0.4) 30%, 
        rgba(0,47,187,0.1) 60%, 
        rgba(0,47,187,0) 80%
    );

    pointer-events: none;
}