/*Configurações Gerais*/
body {
    background-color: #000;
    margin: 0; 
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #002fbb86; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


/*Cabeçalho*/
h1 {
    font-family: 'Gugi', sans-serif;
    font-size: 34px; 
    background: linear-gradient(to right, #001042, #002FBB);               
    color: #fff;                            
    text-align: center;                  
    text-transform: uppercase;             
    letter-spacing: 3px;                 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    margin-bottom: 30px; 
    padding: 15px 0; 
}

.texto-centralizado {
    text-align: center;
}

button {
    background-color: #001042;
    color: white;
    font-family: 'Gugi', sans-serif;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 5px;
}

button:hover {
    background-color: #002FBB;
    transform: scale(1.05);
}

button:active {
    background-color: #0044ff;
}
        
button[type="reset"] {
    background-color: #f35f5f; 
}

button[type="reset"]:hover {
    background-color: #e20000;
}

.tit-gradiente h2 {
    text-align: center;
    font-family: 'Zen Dots', sans-serif;
    color: #fff; 
    background: linear-gradient(to right, #001042, #002FBB); 
    font-size: 25px;
    font-weight: bold;
    padding: 15px; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0; 
}        


/*Formulário*/
fieldset{
    border: 2px solid #3569be; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.forms{
    font-family: 'Gugi', sans-serif;
    color: white;
    padding-inline: 0;
}

input[type="text"], 
input[type="email"], 
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    color: white;
}


/*Rodapé*/
.luz_footer {
    margin: 0;
    background: black;
    height: 38vh;
    width: 100%;

    position: relative;
    
    background: linear-gradient(to top,
        rgba(0,47,187, 0.8) 0%,
        rgba(0,47,187,0.6) 10%,          
        rgba(0,47,187,0.4) 30%, 
        rgba(0,47,187,0.1) 60%, 
        rgba(0,47,187,0) 80%
    );

    pointer-events: none;
}

footer {
    display: flex;
    position: relative;
    margin-top: -120px;
    margin-left: 200px;
}

.social-icons {
    display: flex; 
    align-items: center;  
    gap: 118px;     
}

.social-icons img {
    list-style: none;
    z-index: 2;
}

